### Start 'Info' Module ###

openapi: 3.1.0
info:
  title: TNZ REST API
  summary: Flexible API for managing SMS, Email, Voice, Fax, Address Book Contacts and Opt-Out entries.
  version: '3.00'
  x-scalar-sdk-installation:
  - lang: Node
    description: We have a dedicated [Node.js npm package](https://www.tnz.co.nz/docs/NodeJSLib/) you are welcome to try!
    source: |-
      npm i tnzapi
  - lang: Python
    description: We have a dedicated [Python pip package](https://www.tnz.co.nz/docs/PythonLib/) you are welcome to try!
    source: |-
      pip install tnzapi
  - lang: csharp
    description: We have a dedicated [.NET NuGet package](https://www.tnz.co.nz/docs/dotNetLib/) you are welcome to try!
    source: |-
      dotnet add package TNZAPI.NET

  description: |
    # Introduction

    This API allows you to send messages via TNZ's platform, including SMS, Email, Voice (both pre-recorded and text-to-speech), Fax, WhatsApp, RCS and Workflow messages. You can also manage your TNZ Address Book and track the status of your messages.
    
    **Sending/Receiving Messages**
    - [Workflow](#tag/workflow)
    - [SMS](#tag/sms)
    - [Email](#tag/email)
    - [Voice (pre-recorded audio)](#tag/voice)
    - [Voice (text-to-speech)](#tag/tts)
    - [Fax](#tag/fax)
    - [WhatsApp](#tag/whatsapp)
    - [RCS](#tag/rcs)

    **Manage Your Account:**
    - [Manage your TNZ Address Book](#tag/address-book)
    - [Manage Opt-Outs](#tag/optout)
    - [Manage users](#tag/partner-api) (restricted to Wholesale and Partner users)

    ![REST API Features](https://www.tnz.co.nz/docs/restapi/assets/images/TNZApps[128x75].png)

    # Authentication

    To use the API, an Auth Token is required in the Authorization HTTP header.

    **To export your Auth Token:**

    1. Login to the [TNZ Dashboard](https://my.tnz.co.nz)
    2. Navigate to 'Users'
    3. Create a new user or select an existing one
    4. Enable API access (if it's not already enabled)
    5. Click on the 'API' tab
    6. Enable 'Auth Token' and create a new Auth Token
    7. Click the 'Copy' button to copy it to your clipboard
    8. Use the Auth Token in the Authorization Header when submitting an API call (remember to prefix with Bearer, e.g. "Bearer ey...0123")

    **To refresh or invalidate your Auth Token:**

    1. Login to the [TNZ Dashboard](https://my.tnz.co.nz)
    2. Navigate to 'Users'
    3. Click on your API user
    4. Click on the 'API' tab
    5. Click on the refresh/recycle button in the Auth Token section
    6. Update your applications to use the new Auth Token

    The TNZ API utilises JWT token Authentication. For OAuth2 authentication options, contact your TNZ representative.

    ![REST API Authentication](https://www.tnz.co.nz/docs/restapi/assets/images/TNZ[128x75].png)

    # Change Log and Versioning

    REST API changes are documented: [ðŸ“ Change Log](https://www.tnz.co.nz/docs/restapi/contents/APIChangeLog.html)

    When a new version of the API is released, the API Version in the URL is incremented. This gives you control over version updates.

    # Libraries and Plugins

    We have libraries for popular programming languages and platforms to help you get started quickly:

      | Language          | Documentation | Installation |
      | ---------------- | ------------ | ------------- |
      | Node.JS         | [NodeJSLib](https://www.tnz.co.nz/docs/NodeJSLib/) | npm i tnzapi |
      | Python          | [PythonLib](https://www.tnz.co.nz/docs/PythonLib/) | pip install tnzapi |
      | .NET            | [dotNETLib](https://www.tnz.co.nz/docs/dotNetLib/) | dotnet add package TNZAPI.NET |

  contact:
    name: Support
    email: support@tnz.co.nz
    url: 'https://www.tnz.co.nz/about/contact/'
  termsOfService: 'https://www.tnz.co.nz/About/TermsAndConditions/'
  x-logo:
    url: 'https://www.tnz.co.nz/assets/img/logo2.png'
    altText: TNZ Logo
servers:
  - url: 'https://api.tnz.co.nz/api/v3.00'
    description: Base URL
  - url: 'https://api.tnz.co.nz/api/v3.00/sms'
    description: SMS URL
  - url: 'https://api.tnz.co.nz/api/v3.00/email'
    description: Email URL
  - url: 'https://api.tnz.co.nz/api/v3.00/voice'
    description: Voice URL
  - url: 'https://api.tnz.co.nz/api/v3.00/tts'
    description: TTS (Text-to-Speech) URL
  - url: 'https://api.tnz.co.nz/api/v3.00/fax'
    description: Fax URL
  - url: 'https://api.tnz.co.nz/api/v3.00/whatsapp'
    description: WhatsApp URL
  - url: 'https://api.tnz.co.nz/api/v3.00/rcs'
    description: RCS URL
  - url: 'https://api.tnz.co.nz/api/v3.00/addressbook'
    description: Address Book URL
  - url: 'https://api.tnz.co.nz/api/v3.00/optout'
    description: Opt-Out URL
security:
  - bearerAuth: []
tags:
  - name: Workflow
    description: |
      **Turbocharge Your Messaging with Automated Workflows**

      The Workflow endpoint is your gateway to our most powerful messaging features, allowing you to execute complex, pre-configured strategies with a single API call.

      ![Workflow](https://www.tnz.co.nz/docs/restapi/assets/images/Workflow[128x75].png)

      Go beyond a simple "send" command and build sophisticated rules and automations. With Workflows, you can:

      * Create Multi-Channel Cascades: Start with an SMS, automatically failover to an Email if there's no reply, then trigger a Text-to-Speech call if the email isn't received.
      * Intelligent Failover: Define fallback channels to ensure your message always gets through, maximising reach and reliability.
      * Trigger Custom Webhooks: Integrate deeper into your own systems by firing off custom actions at any stage of the workflow.
      * No-Code Design: Use the Dashboard to design your Workflow rules using the drag-and-drop builder then trigger them using the API.

      It's a complete communication strategy without the overhead.

  - name: SMS
    description: |
      **Two Way SMS API Endpoint**

      Engage your audience directly with our SMS API. More than just a one-way notification system; it's a complete two-way messaging solution.

      Use the Send SMS endpoint to initiate conversations, from simple alerts to personalised campaigns.

      ![SMS](https://www.tnz.co.nz/docs/restapi/assets/images/SMS[128x75].png)
      
      You can then track delivery status in real-time and process inbound replies using either our efficient [Inbound SMS webhook](#tag/sms/webhook/POST/inboundsmswebhook) or the [SMS Details GET endpoint](#tag/sms/GET/sms/{MessageID}).

      To create a truly interactive experience, you can enhance your messages with powerful features:

      * URL Shortener: Track link engagement with our built-in URL shortener.
      * File Attachments: Send images, videos and documents by attaching files to your API request and using the `[[File1]]` command.
      * Templates: For sleek integration with the Dashboard, reference a pre-configured Dashboard `TemplateID` and let users self-manage their message templates.

  - name: Email
    description: |
      Go beyond plain text with our flexible Email API. Send beautifully crafted HTML emails using your own content or pre-configured templates. Or specify a `TemplateID` and let users manage their own HTML designs using the Dashboard's WYSIWYG editor.
      
      Track link clicks and attach files on the fly.
      
      Whether you're sending invoices, newsletters, or critical alerts, you can monitor delivery status every step of the way.

      ![Email](https://www.tnz.co.nz/docs/restapi/assets/images/Email[128x75].png)
  - name: TTS
    description: |
      Transform your written text into clear, natural-sounding voice calls with our Text-to-Speech (TTS) API. Ideal for automated alerts, appointment reminders, or customer surveys.
      
      Customize calls with different voices, SSML command support, and interactive keypad options that can route callers or capture responses.
      
      Answering machine detection ensures your message is delivered effectively, whether to a person or a voicemail.

      ![TTS](https://www.tnz.co.nz/docs/restapi/assets/images/TTS[128x75].png)
  - name: Voice
    description: |
      Deliver impactful messages by sending pre-recorded audio files as voice calls. Perfect for alerts where a human voice adds a personal touch or when conveying complex information.
      
      This endpoint allows you to manage calls to individuals or large groups, with powerful features like retry attempts for failed calls, answering machine detection, and interactive keypad responses.

      ![Voice](https://www.tnz.co.nz/docs/restapi/assets/images/Voice[128x75].png)
  - name: Fax
    description: |
      Bridge the gap between digital and traditional documentation with our reliable Fax API. Send documents directly from your application to any fax machine worldwide without needing any physical hardware.
      
      You can track the delivery status of each fax and receive detailed reports, ensuring your important documents arrive successfully.

      ![Fax](https://www.tnz.co.nz/docs/restapi/assets/images/Fax[128x75].png)
  - name: WhatsApp
    description: |
      Leverage the power of WhatsApp and send messages to WhatsApp users worldwide.
      
      Our WhatsApp API allows you to send text, files, templates and receive responses on the world's most popular messaging platform.

      ![WhatsApp](https://www.tnz.co.nz/docs/restapi/assets/images/WhatsApp[128x75].png)
  - name: RCS
    description: |
      Boost your text messages using Rich Communication Services (RCS).
      
      Our RCS API enables you to send media-rich messages that go beyond traditional SMS, providing a more engaging experience for your audience. RCS is unsupported in New Zealand and Australia.

      ![RCS](https://www.tnz.co.nz/docs/restapi/assets/images/RCS[128x75].png)
  - name: Webhooks
    description: |
      Get real-time updates without the need for constant polling. Our webhooks can notify your application instantly when a message completes sending or when you receive an inbound SMS. This efficient, event-driven approach ensures your system stays up-to-date with delivery receipts and customer replies, saving you resources and providing faster insights.

      ![Webhooks](https://www.tnz.co.nz/docs/restapi/assets/images/Developers[128x75].png)
  - name: Address Book
    description: |
      Centralise your Contacts using the Address Book API, your single source of truth.
      
      This simplifies your integration and unlocks powerful, data-rich personalisation across all messaging channels.

      > [!CAUTION]
      > To use this function, your API user must have the Address Book API enabled:
      > `Dashboard` > `Users` > `API User` > `API` > `Address Book API Access`

      With this set of endpoints, you can:

      * Programmatically create, retrieve, update, and delete contacts. Keep your data synchronised across systems without manual effort (CRMs, HR systems, Spreadsheets and more).
      * Organise contacts into groups. Send a message to thousands with a single API call by referencing a `GroupID`.
      * Store custom fields for each contact (e.g., `FirstName`, `Company`, `Custom1`) and use them as merge tags like `[[FirstName]]` to personalise messages across any channel.
      * Drastically reduce your payload size. Instead of sending a full array of recipient details every time, simply reference the unique `ContactID` or `GroupID`.
      * Use your contacts and groups with the TNZ Dashboard.

      ![Address Book](https://www.tnz.co.nz/docs/restapi/assets/images/AddressBook[128x75].png)
  - name: OptOut
    description: |
      The Opt-Out API allows you to programmatically manage contacts who have unsubscribed.
      
      Opt-Out API gives you the flexibility to manage unsubscribes on a SubAccount, Department and Message Type basis. This means a user can opt out of SMS marketing while still receiving important Email alerts.

      ![Opt-Outs](https://www.tnz.co.nz/docs/restapi/assets/images/Mobile1[128x75].png)

      When you attempt to send a message, the API will accept the request, but if the recipient is on the opt-out list for that channel, the delivery will be blocked and return a "Destination is blacklisted" result. This provides a clear audit trail and protects your brand from sending unwanted communications.

      Key features of this endpoint set include:

      * Add or remove individual contacts from your opt-out list in real-time.
      * Once added, a contact is automatically suppressed for the applicable message type.
      * Each message type is managed independently, giving you full control.
      * Retrieve a complete list of all opted-out contacts for auditing, reporting, or synchronizing with your own CRM.
      * Effortlessly manage unsubscribes to help meet your obligations under anti-spam regulations.

  - name: Partner API
    description: |
      Empower your wholesale and partner accounts with direct user management capabilities. This restricted set of endpoints is designed for partners to manage their sub-accounts and user details, providing an automated way to handle account administration.

      ![Partner API](https://www.tnz.co.nz/docs/restapi/assets/images/Integrations[128x75].png)

paths:

### End 'Info' Module ###
### Start 'Workflow' Module ###
#
  /workflow:
    post:
      tags:
        - Workflow
      summary: Send Workflow
      description: |-
        Send a message using a pre-configured workflow.
        
        Use `WorkflowTemplateID` to specify the Workflow Template to send.
        
        The `Destinations` parameter specifies the contacts to receive the message. Alternatively, you may use the `Destinations` array for multiple contacts, or use Address Book `ContactID` or `GroupID` values. If you specify a new contact, the API will automatically create an Address Book contact for you.
      operationId: client.messaging.workflow.sendmessage
      security:
        - bearerAuth: []

      # The Accept header is optional
      #parameters:
      #  - $ref: '#/components/parameters/Accept'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                WorkflowTemplateID
              properties:
                WorkflowTemplateID:
                  type: string
                  format: uuid
                  description: 'ID of the Workflow template. [Find Your TemplateID](https://www.tnz.co.nz/help/how-to-find-your-templateid).'
                  example: a1b2c3d4-e5f6-7890-1234-567890abcdef
                Destinations:
                  $ref: "#/components/schemas/Destinations"
                Destination:
                  $ref: "#/components/schemas/Destination"
                ToNumber:
                  $ref: "#/components/schemas/ToNumber"
                MainPhone:
                  $ref: "#/components/schemas/MainPhone"
                ContactID:
                  $ref: "#/components/schemas/ContactID"
                GroupID:
                  $ref: "#/components/schemas/GroupID"
                MessageID:
                  $ref: "#/components/schemas/MessageID"
                Reference:
                  $ref: "#/components/schemas/Reference"
                NotificationType:
                  $ref: "#/components/schemas/NotificationType"
                WebhookCallbackURL:
                  $ref: "#/components/schemas/WebhookCallbackURL"
                WebhookCallbackFormat:
                  $ref: "#/components/schemas/WebhookCallbackFormat"
                SubAccount:
                  $ref: "#/components/schemas/SubAccount"
                Department:
                  $ref: "#/components/schemas/Department"
                SendTime:
                  $ref: "#/components/schemas/SendTime"
                Timezone:
                  $ref: "#/components/schemas/Timezone"

            # Workflow examples
            examples:
              'Send to an Address Book Contact':
                value:
                  WorkflowTemplateID: a1b2c3d4-e5f6-7890-1234-567890abcdef
                  ContactID: 6000000b-f002-4007-b00a-c00000000001
              'Send to an Address Book Group':
                value:
                  WorkflowTemplateID: a1b2c3d4-e5f6-7890-1234-567890abcdef
                  GroupID: 4000000b-f002-4007-b00a-c00000000002
              'Send to a new contact':
                value:
                  WorkflowTemplateID: a1b2c3d4-e5f6-7890-1234-567890abcdef
                  Destinations:
                    - ToNumber: '+6421000001'
                      EmailAddress: 'john.doe@example.com'
                      MainPhone: '+6421000001'
                      Attention: John Doe
                      'First Name': John
                      'Last Name': Doe
                      Company: Example Company
              'Display all parameters':
                value:
                  WorkflowTemplateID: a1b2c3d4-e5f6-7890-1234-567890abcdef
                  Destinations:
                    - ContactID: 4000000b-f002-4007-b00a-c00000000001
                    - GroupID: 6000000b-f002-4007-b00a-c00000000002
                    - ToNumber: '+6421000001'
                      MainPhone: '+6421000001'
                      EmailAddress: 'john.doe@example.com'
                      FirstName: 'John'
                      LastName: 'Doe'
                      Company: 'Example Company'
                      Custom1: 'Custom Value 1'
                      Custom2: 'Custom Value 2'
                      Custom3: 'Custom Value 3'
                      Custom4: 'Custom Value 4'
                  Destination: '+6421000001'
                  ContactID: 4000000b-f002-4007-b00a-c00000000001
                  GroupID: 6000000b-f002-4007-b00a-c00000000002
                  Reference: An appointment reminder
                  WebhookCallbackURL: https://www.example.com/webhook
                  WebhookCallbackFormat: JSON
                  MessageID: 1234-5678
                  SubAccount: Business Unit One
                  Department: Team Alpha
                  SendTime: 2025-08-01T09:00:00
                  Timezone: New Zealand

      # Workflow responses
      responses:
        '200':
          $ref: '#/components/responses/200OK'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404RecordNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

### End 'Workflow' Module ###

### Start 'SMS' Module ###
#
  /sms:

    # Send SMS
    post:
      tags:
        - SMS
      summary: Send SMS
      description: |
        Send an SMS message to one or more recipients.
        
        The `Message` parameter specifies the SMS text. Alternatively, use `TemplateID` to send a pre-configured message template ([Find Your TemplateID](https://www.tnz.co.nz/help/how-to-find-your-templateid)).
        
        The Message may include [Personalisation](https://www.tnz.co.nz/help/message-personalisation), use links from the [URL Shortener](https://www.tnz.co.nz/help/sms-url-shortener-and-short-links) and free [ReplyLink](https://www.tnz.co.nz/help/sms-reply-link-and-enhanced-sms-replies) pages.
        
        The `Destination` parameter contains the mobile number to receive your message. Alternatively, you may use the `Destinations` array for multiple contacts, or use Address Book `ContactID` or `GroupID` values.

      operationId: client.messaging.sms.sendmessage
      security:
        - bearerAuth: []
      # The Accept header is optional
      #parameters:
      #  - $ref: '#/components/parameters/Accept'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  type: string
                  max-length: 1000
                  description: 'The SMS text message to send. Alternatively, you may use the `TemplateID` parameter.'
                  example: 'Hello [[FirstName]], view the [[Custom1]] link at [[Link:https://www.example.com/path/to/page.html]] or reply at [[REPLY]]. Reply STOP to OptOut.'
                TemplateID:
                  $ref: "#/components/schemas/TemplateID"
                Destination:
                  $ref: "#/components/schemas/Destination"
                ToNumber:
                  $ref: "#/components/schemas/ToNumber"
                Destinations:
                  $ref: "#/components/schemas/Destinations"
                ContactID:
                  $ref: "#/components/schemas/ContactID"
                GroupID:
                  $ref: "#/components/schemas/GroupID"
                MessageID:
                  $ref: "#/components/schemas/MessageID"
                Reference:
                  $ref: "#/components/schemas/Reference"
                NotificationType:
                  $ref: "#/components/schemas/NotificationType"
                WebhookCallbackURL:
                  $ref: "#/components/schemas/WebhookCallbackURL"
                WebhookCallbackFormat:
                  $ref: "#/components/schemas/WebhookCallbackFormat"
                ReportTo:
                  $ref: "#/components/schemas/ReportTo"
                SendTime:
                  $ref: "#/components/schemas/SendTime"
                Timezone:
                  $ref: "#/components/schemas/Timezone"
                SubAccount:
                  $ref: "#/components/schemas/SubAccount"
                Department:
                  $ref: "#/components/schemas/Department"
                FromNumber:
                  type: string
                  description: Sets the Sender ID on your sent message (in E164 format without the leading +). Will be overridden for complex countries such as New Zealand.
                  example: '61408080909'
                SMSEmailReply:
                  type: string
                  format: email
                  description: The email address to send SMS Reply notifications to. This may be ignored if a different Reply Notification rule is configured.
                  example: 'reply@example.com'
                CharacterConversion:
                  type: boolean
                  description: 'Convert multi-byte characters into normalised GSM character format - Â© to (C) - to save on message size. See [Character Encoding](https://www.tnz.co.nz/help/sending-long-sms-messages-multi-part-slash-concatenation). Enabling this function will disable emojis, macrons and other special characters.'
                  example: false
                  default: false
                FallbackMode:
                  type: string
                  description: If the SMS delivery fails, send as a voice call.
                  enum: [None, Voice]
                  example: 'Voice'
                Files:
                  $ref: "#/components/schemas/Files"

            # Send SMS examples
            examples:
              'Send a simple SMS message':
                value:
                  Message: 'Hello, this is an SMS notification from Company One Ltd. Reply STOP to OptOut.'
                  Destination: '021-000001'
              'Send to an Address Book Contact':
                value:
                  Message: 'Hello [[FirstName]], this is an SMS notification from Company One Ltd. Reply STOP to OptOut.'
                  ContactID: 6000000b-f002-4007-b00a-c00000000001
              'Send to an Address Book Group':
                value:
                  Message: 'Hello [[FirstName]], this is an SMS notification from Company One Ltd. Reply STOP to OptOut.'
                  GroupID: 4000000b-f002-4007-b00a-c00000000002
              'Send a Template to Two Contacts':
                value:
                  TemplateID: 123e4567-e89b-12d3-a456-426614174000
                  Destination: '021-000001'
                  ContactID: 6000000b-f002-4007-b00a-c00000000001
              'Display all parameters':
                value:
                  Message: 'Hello [[FirstName]], this is an SMS notification from Company One Ltd. Reply STOP to OptOut.'
                  TemplateID: 123e4567-e89b-12d3-a456-426614174000
                  Destination: '+6421000001'
                  Destinations:
                    - ContactID: 4000000b-f002-4007-b00a-c00000000001
                    - GroupID: 6000000b-f002-4007-b00a-c00000000002
                    - ToNumber: '+6421000001'
                      FirstName: 'John'
                      LastName: 'Doe'
                      Company: 'Example Company'
                      Custom1: 'Custom Value 1'
                      Custom2: 'Custom Value 2'
                      Custom3: 'Custom Value 3'
                      Custom4: 'Custom Value 4'
                  ContactID: 4000000b-f002-4007-b00a-c00000000001
                  GroupID: 6000000b-f002-4007-b00a-c00000000002
                  MessageID: 1234-5678
                  Reference: An appointment reminder
                  NotificationType: Webhook
                  WebhookCallbackURL: https://www.example.com/webhook
                  WebhookCallbackFormat: JSON
                  SendTime: 2025-08-01T09:00:00
                  Timezone: New Zealand
                  SubAccount: Business Unit One
                  Department: Team Alpha
                  FromNumber: 61410023004
                  SMSEmailReply: reply@example.com
                  CharacterConversion: true
                  FallbackMode: Voice
                  Files:
                    - Name: 'My Example.pdf'
                      Data: '[base-64 data - see the field description for sample data]'
      # Send SMS responses
      responses:
        '200':
          $ref: '#/components/responses/200OK'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404RecordNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  /sms/{MessageID}:
    get:
      # Get SMS Status
      tags:
        - SMS
      summary: SMS Details
      description: |
        Poll for details of a sent SMS message.

        The primary object details the message as a whole, while the `Recipients` array contains details of each recipient.
        
        Under each recipient, an `SMSReplies` array will detail any received replies.

        > [!TIP]
        > Timeout your polls after 6 hours with no result.

        > [!CAUTION]
        > Limit your polls to 1 per second to avoid rate limits.

        > [!note]
        > Consider the [Send Result Webhook](#tag/sms/webhook/POST/resultwebhook) for efficiency.
      operationId: client.messaging.sms.status
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        # - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/Accept'
      
      # Get SMS Status responses
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Message_Detail'
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    Recipients:
                      type: array
                      description: List of recipients for the message.
                      items:
                        allOf:
                          - type: object
                            properties:
                              Type:
                                type: string
                                description: The type of message this data relates to.
                                enum: [SMS, Email, Voice, Fax]
                                example: SMS
                              DestSeq:
                                $ref: '#/components/schemas/DestSeq'
                              Destination:
                                type: string
                                description: The destination address (e.g. phone number, email address). Telephone/mobile numbers are supplied in E.164 internationalised format.
                                example: '+64212223333'
                              ContactID:
                                $ref: '#/components/schemas/ContactID'
                              Status:
                                $ref: '#/components/schemas/MessageStatus'
                              Result:
                                type: string
                                description: The final delivery result. For a list of possible values, see [SMS](https://www.tnz.co.nz/help/sms-delivery-result-codes) result codes.
                                examples: 
                                  - Delivered
                                  - Bad Number
                          - $ref: '#/components/schemas/Recipients_Detail'
                          - type: object
                            properties:
                              SMSReplies:
                                type: array
                                description: A list of replies for this recipient.
                                items:
                                  $ref: '#/components/schemas/SMSReplies_Detail'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '500':
          $ref: '#/components/responses/500ServerError'

  '/sms/received':
    get:
      tags:
        - SMS
      summary: Inbound SMS
      description: |
        Poll for a list of SMS received in a given timeframe.
        
        You may search based on `timePeriod` (return results from the last _x_ minutes) or by `dateFrom` to `dateTo` (return results within the specified timeframe).

        If a received message can be matched as a reply, the `MessageID` parameter will contain the outbound message's `MessageID`.

        > [!CAUTION]
        > Limit your polls to 1 per second to avoid rate limits.

        > [!note]
        > Consider the [Inbound SMS Webhook](#tag/sms/webhook/POST/inboundsmswebhook) for efficiency.
      operationId: client.messaging.sms.received
      security:
        - bearerAuth: []
      parameters:
        # - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/Accept'
        - name: timePeriod
          in: query
          required: true
          description: Return results from the last _x_ minutes (e.g. last 5 minutes).
          example: 10
          schema:
            type: integer
            minimum: 1
            maximum: 1440
        - name: dateFrom
          in: query
          required: false
          description: Return results from the specified date in the API User's local time. Maximum 7 days.
          example: 2025-08-01T00:00:00	
          schema:
            type: string
        - name: dateTo
          in: query
          required: false
          description: Return results to the specified date in the API User's local time. Maximum 7 days.
          example: 2025-08-01T12:00:00
          schema:
            type: string
        - $ref: '#/components/parameters/RecordsPerPage'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      Messages:
                        type: array
                        description: List of messages found.
                        items:
                          type: object
                          properties:
                            ReceivedID:
                              $ref: '#/components/schemas/UniqueID'
                            MessageID:
                              type: string
                              format: uuid
                              description: If a reply match has been found, this will be the MessageID parameter supplied when sending your original API call. If you did not supply one, the API generated one for you.
                              example: 7000000a-f002-4007-b00a-d00000000002
                            JobNum:
                              $ref: '#/components/schemas/JobNumber'
                            SubAccount:
                              $ref: '#/components/schemas/SubAccount'
                            Department:
                              $ref: '#/components/schemas/Department'
                            ReceivedTimeLocal:
                              $ref: '#/components/schemas/ReceivedTimeLocal'
                            ReceivedTimeUTC:
                              $ref: '#/components/schemas/ReceivedTimeUTC'
                            ReceivedTimeUTC_RFC3339:
                              $ref: '#/components/schemas/ReceivedTimeUTC_RFC3339'
                            From:
                              $ref: '#/components/schemas/SMSFrom'
                            ContactID:
                              $ref: '#/components/schemas/ContactID'
                            MessageText:
                              $ref: '#/components/schemas/ReceivedMessage'
                            Timezone:
                              $ref: '#/components/schemas/Timezone'
                            Version:
                              $ref: '#/components/schemas/Version'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '500':
          $ref: '#/components/responses/500ServerError'

### End 'SMS' Module ###

  '/sms/{MessageID}/reschedule':
    patch:
      tags:
        - SMS
      summary: Reschedule
      description: |
        This endpoint allows you to reschedule a previously delayed message to be sent at a new time.
      operationId: client.messaging.sms.reschedule
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                SendTime
              properties:
                SendTime:
                  $ref: '#/components/schemas/UpdateSendTime'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Reschedule]
                    example: Reschedule
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  '/sms/{MessageID}/abort':
    patch:
      tags:
        - SMS
      summary: Abort
      description: |
        This endpoint allows you to abort a previously delayed message.
      operationId: client.messaging.sms.abort
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Abort]
                    example: Abort
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

### Start 'Email' Module ###
#
  /email:

    # Send Email
    post:
      tags:
        - Email
      summary: Send Email
      description: |
        Send an Email message to one or more recipients.

        The `Message` parameter specifies the SMS text. Alternatively, use `TemplateID` to send a pre-configured message template ([Find Your TemplateID](https://www.tnz.co.nz/help/how-to-find-your-templateid)).
        
        The `Destination` parameter contains the email address to receive your message. Alternatively, you may use the `Destinations` array for multiple contacts, or use Address Book `ContactID` or `GroupID` values.
      
      operationId: client.messaging.email.sendmessage
      security:
        - bearerAuth: []
      # The Accept header is optional
      #parameters:
      #  - $ref: '#/components/parameters/Accept'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                MessagePlain:
                  type: string
                  max-length: 10000
                  description: |
                    The plain-text email body to send. You may synonymously use `MessagePlain` or `Message`.
                    
                    You may use `MessagePlain` and/or `MessageHTML`, or you may specify a dashboard Template using `TemplateID`.
                    
                    This example uses [Personalisation](https://www.tnz.co.nz/help/message-personalisation) and you can track links using the built-in [URL Shortener](https://www.tnz.co.nz/help/email-url-shortener-and-short-links).
                  example: 'Hello [[FirstName]], view the [[Custom1]] link at [[Link:https://www.example.com/path/to/page.html]] or reply at [[REPLY]]. Reply STOP to OptOut.'
                MessageHTML:
                  type: string
                  max-length: 10000
                  description: |
                    The HTML email body to send. 
                    
                    You may use `MessagePlain` and/or `MessageHTML`, or you may specify a dashboard Template using `TemplateID`.
                    
                    This example uses [Personalisation](https://www.tnz.co.nz/help/message-personalisation) and you can track links using the built-in [URL Shortener](https://www.tnz.co.nz/help/email-url-shortener-and-short-links).
                  example: '<html><body>Hello [[FirstName]], view the [[Custom1]] link at <b>[[Link:https://www.example.com/path/to/page.html]]</b> or reply at [[REPLY]]. <i>Reply STOP to OptOut.</i></body></html>'
                TemplateID:
                  $ref: "#/components/schemas/TemplateID"
                Destination:
                  $ref: "#/components/schemas/Destination"
                EmailAddress:
                  $ref: "#/components/schemas/EmailAddress"
                ContactID:
                  $ref: "#/components/schemas/ContactID"
                GroupID:
                  $ref: "#/components/schemas/GroupID"
                Destinations:
                  $ref: "#/components/schemas/Destinations"
                MessageID:
                  $ref: "#/components/schemas/MessageID"
                Reference:
                  $ref: "#/components/schemas/Reference"
                SMTPFrom:
                  type: string
                  maxLength: 100
                  description: Sets the email Sender/Return-Path at the SMTP level (this address receives bounce-back emails and is used for SPF/DKIM type authentication; 'FromEmail' is used if not specified)
                  examples: 
                    - info@example.com
                From:
                  type: string
                  maxLength: 30
                  description: Sets the email sender's Friendly Name (seen by the email recipient)
                  example: Company One Ltd
                FromEmail:
                  type: string
                  maxLength: 100
                  description: Sets the email sender's Email Address (seen by the email recipient; API 'Sender' is used if not specified)
                  example: help@example.com
                CCEmail:
                  type: string
                  maxLength: 100
                  description: Adds a CC to the email.
                  example: archive@example.com
                ReplyTo:
                  type: string
                  maxLength: 100
                  description: Adds a Reply-To to the email (if the recipient replies, the Reply To will receive the reply).
                  example: replies@example.com
                EmailSubject:
                  type: string
                  maxLength: 1024
                  description: The Subject line used in the email.
                  examples: 
                    - Your appointment is coming up!
                    - Your account is overdue.
                NotificationType:
                  $ref: "#/components/schemas/NotificationType"
                WebhookCallbackURL:
                  $ref: "#/components/schemas/WebhookCallbackURL"
                WebhookCallbackFormat:
                  $ref: "#/components/schemas/WebhookCallbackFormat"
                ReportTo:
                  $ref: "#/components/schemas/ReportTo"
                SendTime:
                  $ref: "#/components/schemas/SendTime"
                Timezone:
                  $ref: "#/components/schemas/Timezone"
                SubAccount:
                  $ref: "#/components/schemas/SubAccount"
                Department:
                  $ref: "#/components/schemas/Department"
                Files:
                  $ref: "#/components/schemas/Files"

            # Send Email examples
            examples:
              'Send a simple Email message':
                value:
                  MessagePlain: 'Hello, this is an Email notification from Company One Ltd.'
                  Destination: 'john.doe@example.com'
              'Send an HTML Email to an Address Book Contact':
                value:
                  MessageHTML: '<html><body>Hello [[FirstName]], this is an Email notification from <b>Company One Ltd</b>.</body></html>'
                  ContactID: 6000000b-f002-4007-b00a-c00000000001
              'Send an HTML Email to an Address Book Group':
                value:
                  MessageHTML: '<html><body>Hello [[FirstName]], this is an Email notification from <b>Company One Ltd</b>.</body></html>'
                  GroupID: 4000000b-f002-4007-b00a-c00000000002
              'Send a Template to Two Contacts':
                value:
                  TemplateID: 123e4567-e89b-12d3-a456-426614174000
                  Destination: 'john.doe@example.com'
                  ContactID: 6000000b-f002-4007-b00a-c00000000001
              'Display all parameters':
                value:
                  MessagePlain: 'Hello [[FirstName]], this is an Email notification from Company One Ltd.'
                  MessageHTML: '<html><body>Hello [[FirstName]], this is an Email notification from <b>Company One Ltd</b>.</body></html>'
                  TemplateID: 123e4567-e89b-12d3-a456-426614174000
                  Destination: 'john.doe@example.com'
                  Destinations:
                    - ContactID: 4000000b-f002-4007-b00a-c00000000001
                    - GroupID: 6000000b-f002-4007-b00a-c00000000002
                    - EmailAddress: 'john.doe@example.com'
                      FirstName: 'John'
                      LastName: 'Doe'
                      Company: 'Example Company'
                      Custom1: 'Custom Value 1'
                      Custom2: 'Custom Value 2'
                      Custom3: 'Custom Value 3'
                      Custom4: 'Custom Value 4'
                  ContactID: 4000000b-f002-4007-b00a-c00000000001
                  GroupID: 6000000b-f002-4007-b00a-c00000000002
                  MessageID: 1234-5678
                  Reference: An appointment reminder
                  SMTPFrom: info@example.com
                  From: Company One Ltd
                  FromEmail: help@example.com
                  CCEmail: archive@example.com
                  ReplyTo: replies@example.com
                  EmailSubject: A reminder of your appointment
                  NotificationType: Webhook
                  WebhookCallbackURL: https://www.example.com/webhook
                  WebhookCallbackFormat: JSON
                  SendTime: 2025-08-01T09:00:00
                  Timezone: New Zealand
                  SubAccount: Business Unit One
                  Department: Team Alpha
                  Files:
                    - Name: 'My Example.pdf'
                      Data: '[base-64 data - see the field description for sample data]'
      # Send Email responses
      responses:
        '200':
          $ref: '#/components/responses/200OK'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404RecordNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  /email/{MessageID}:
    get:
      # Get Email Status
      tags:
        - Email
      summary: Email Details
      description: |
        Poll for details of a sent Email message.

        The primary object details the message as a whole, while the `Recipients` array contains details of each recipient.

        > [!TIP]
        > Timeout your polls after 6 hours with no result.

        > [!CAUTION]
        > Limit your polls to 1 per second to avoid rate limits.

        > [!note]
        > Consider the [Send Result Webhook](#tag/email/webhook/POST/resultwebhook) for efficiency.
      operationId: client.messaging.email.status
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        # - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/Accept'
      
      # Get Email Status responses
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Message_Detail'
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    Recipients:
                      type: array
                      description: List of recipients for the message.
                      items:
                        allOf:
                          - type: object
                            properties:
                              Type:
                                type: string
                                description: The type of message this data relates to.
                                enum: [SMS, Email, Voice, Fax]
                                example: Email
                              DestSeq:
                                $ref: '#/components/schemas/DestSeq'
                              Destination:
                                type: string
                                description: The destination address (e.g. phone number, email address).
                                example: 'john.doe@example.com'
                              ContactID:
                                $ref: '#/components/schemas/ContactID'
                              Status:
                                $ref: '#/components/schemas/MessageStatus'
                              Result:
                                type: string
                                description: The final delivery result. For a list of possible values, see [Email](https://www.tnz.co.nz/help/email-delivery-result-codes) result codes.
                                examples: 
                                  - 250 OK
                                  - 550 5.1.1 No such user
                          - $ref: '#/components/schemas/Recipients_Detail'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '500':
          $ref: '#/components/responses/500ServerError'

### End 'Email' Module ###

  '/email/{MessageID}/reschedule':
    patch:
      tags:
        - Email
      summary: Reschedule
      description: |
        This endpoint allows you to reschedule a previously delayed message to be sent at a new time.
      operationId: client.messaging.email.reschedule
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                SendTime
              properties:
                SendTime:
                  $ref: '#/components/schemas/UpdateSendTime'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Reschedule]
                    example: Reschedule
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  '/email/{MessageID}/abort':
    patch:
      tags:
        - Email
      summary: Abort
      description: |
        This endpoint allows you to abort a previously delayed message.
      operationId: client.messaging.email.abort
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Abort]
                    example: Abort
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'


  '/email/{MessageID}/resubmit':
    patch:
      tags:
        - Email
      summary: Resubmit
      description: |
        This endpoint allows you to retry sending a previously failed message.
      operationId: client.messaging.email.resubmit
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                SendTime
              properties:
                SendTime:
                  $ref: '#/components/schemas/UpdateSendTime'
      responses:
        '200':
          description: OK [message found].
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Resubmit]
                    example: Resubmit
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

### Start 'TTS' Module ###
#
  /tts:

    # Send TTS
    post:
      tags:
        - TTS
      summary: Send TTS
      description: |
        Send a Voice Call using Text-to-Speech to one or more recipients.

        The `MessageToPeople` parameter specifies the message to send. Alternatively, use `TemplateID` to send a pre-configured message template ([Find Your TemplateID](https://www.tnz.co.nz/help/how-to-find-your-templateid)).
        
        The `Destination` parameter contains the email address to receive your message. Alternatively, you may use the `Destinations` array for multiple contacts, or use Address Book `ContactID` or `GroupID` values.
      
      operationId: client.messaging.tts.sendmessage
      security:
        - bearerAuth: []
      # The Accept header is optional
      #parameters:
      #  - $ref: '#/components/parameters/Accept'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                MessageToPeople:
                  type: string
                  max-length: 5000
                  description: |
                    The message to play when the call is answered by a person. You may synonymously use `MessageToPeople` or `Message`.
                    
                    You may use SSML commands to tweak the way words and phrases are spoken: [SSML Commands](https://www.tnz.co.nz/help/text-to-speech-custom-commands).

                    Alternatively, specify a template using `TemplateID`.
                  example: 'Hello, this is a call from <loud>Department01</loud>. This is relevant information. <speed:80>Press one</speed:80> to be connected to our call centre.'
                TemplateID:
                  $ref: "#/components/schemas/TemplateID"
                Destination:
                  $ref: "#/components/schemas/Destination"
                ToNumber:
                  $ref: "#/components/schemas/ToNumber"
                Destinations:
                  $ref: "#/components/schemas/Destinations"
                ContactID:
                  $ref: "#/components/schemas/ContactID"
                GroupID:
                  $ref: "#/components/schemas/GroupID"
                MessageID:
                  $ref: "#/components/schemas/MessageID"
                Reference:
                  $ref: "#/components/schemas/Reference"
                NotificationType:
                  $ref: "#/components/schemas/NotificationType"
                WebhookCallbackURL:
                  $ref: "#/components/schemas/WebhookCallbackURL"
                WebhookCallbackFormat:
                  $ref: "#/components/schemas/WebhookCallbackFormat"
                ReportTo:
                  $ref: "#/components/schemas/ReportTo"
                SendTime:
                  $ref: "#/components/schemas/SendTime"
                Timezone:
                  $ref: "#/components/schemas/Timezone"
                SubAccount:
                  $ref: "#/components/schemas/SubAccount"
                Department:
                  $ref: "#/components/schemas/Department"
                MessageToAnswerPhones:
                  type: string
                  max-length: 10000
                  description: |
                    Enables Answering Machine/Voicemail detection. When an answering machine is detected, this message is played.
                  example: 'Hello, sorry we missed you. This is a call from Department 01. Please contact us on 0800 123123.'
                AnswerPhoneMode:
                  type: string
                  default: NDAS
                  description: Sets the action for when an Answering Machine is detected, such as playing a message or dropping the call ('NDAS','NDAF','DAS','DAF'). See [Answer Phone Detection for Voice](https://www.tnz.co.nz/help/answer-phone-detection-for-voice).
                  examples:
                    - NDAS
                    - DAS
                    - NDAF
                    - DAF
                Keypads:
                  type: array
                  description: Detect if the recipient presses a keypad option and perform an action.
                  items:
                    type: object
                    properties:
                      Tone:
                        type: integer
                        minimum: 0
                        maximum: 9
                        description: The keypad button.
                        example: 1
                      Play:
                        type: string
                        description: Message to play when the keypad button is pressed.
                        example: You pressed Keypad 1. We're connecting you now.
                      RouteNumber:
                        type: string
                        format: phone
                        description: If specified, the call will be diverted to this number when the keypad button is pressed.
                        example: '6421000001'
                      PlaySection:
                        type: string
                        description: |
                          If specified, the call will jump to this section.
                          - Main = The main `MessageToPeople`.
                          - AnswerPhone = Simulates an Answering Machine pickup and plays `MessageToAnswerPhones`.
                          - WrongKey = Plays the `CallRouteMessageOnWrongKey` message.
                        examples: 
                          - Main
                          - AnswerPhone
                          - WrongKey
                KeypadOptionRequired:
                  type: boolean
                  default: false
                  description: |
                    When this setting is turned on, the call recipient must press a valid keypad button. If they don't, their call attempt gets logged as a Failure with the Result "No Valid Option Selected," and it will be automatically retried until Retry Attempts are exhausted. 
                    
                    Note: If Wrong Key is enabled, listeners can press any keypad button to mark a successful response.
                  examples: 
                    - false
                    - true
                CallRouteMessageOnWrongKey:
                  type: string
                  description: If Keypad buttons are specified, this option enables a Wrong Keypad message that is played if the callee presses an unregistered keypad button, or doesn't press a keypad button.
                  example: Sorry, you have pressed an invalid key. Please try again.	
                CallRouteMessageToPeople:
                  type: string
                  description: Text-to-speech message played when a keypad option is pressed.
                  example: Connecting you now.	
                CallRouteMessageToOperators:
                  type: string
                  description: Text-to-speech message played to the call centre representative answering the connected call.
                  example: Incoming Text To Speech call.	
                NumberOfOperators:
                  $ref: '#/components/schemas/NumberOfOperators'
                RetryAttempts:
                  type: integer
                  minimum: 0
                  maximum: 5
                  description: |
                    Number of times to retry if the call fails (for example, the recipients line is busy or unavailable). RetryAttempts=0 means the call will not be retried.
                    
                    If an Alt Phone is specified, the contact's Main Phone will be attempted until RetryAttempts is exhausted, then the Alt Phone will be tried. 
                  example: 1
                RetryPeriod:
                  type: integer
                  minimum: 0
                  maximum: 60
                  description: Minutes to wait between Retry Attempts.
                  example: 5
                CallerID:
                  type: string
                  format: phone
                  description: Sets the Caller ID used on the call (must be E.164 format and whitelisted under your account).
                  example: +6495005000
                Voice:
                  type: string
                  default: Female1
                  description: Text-to-Speech voice to use (Male1, Female1, Nicole, Russell, Amy, Brian, Emma).
                  examples:
                    - Female1
                    - Male1
                    - Nicole
                    - Russell
                    - Amy
                    - Brian
                    - Emma
                Options:
                  type: string
                  description: Customisable field that allows advanced voice options including recording survey responses, recording phone numbers, playing IVR options, capturing DTMF tones for account numbers or credit card numbers, etc.
                 
            # Send TTS examples
            examples:
              'Send a simple TTS message':
                value:
                  MessageToPeople: 'Hello, this is an TTS notification from Company One Ltd.'
                  Destination: '021-000001'
              'Send to an Address Book Contact':
                value:
                  MessageToPeople: 'Hello [[FirstName]], this is an TTS notification from Company One Ltd.'
                  ContactID: 6000000b-f002-4007-b00a-c00000000001
              'Send to an Address Book Group':
                value:
                  MessageToPeople: 'Hello [[FirstName]], this is an TTS notification from Company One Ltd.'
                  GroupID: 4000000b-f002-4007-b00a-c00000000002
              'Send a Template to Two Contacts':
                value:
                  TemplateID: 123e4567-e89b-12d3-a456-426614174000
                  Destination: '021-000001'
                  ContactID: 6000000b-f002-4007-b00a-c00000000001
              'Display all parameters':
                value:
                  MessageToPeople: 'Hello, this is a call from <loud>Department01</loud>. This is relevant information. <speed:80>Press one</speed:80> to be connected to our call centre or press two to hear this message again.'
                  TemplateID: 123e4567-e89b-12d3-a456-426614174000
                  Destination: 'john.doe@example.com'
                  Destinations:
                    - ContactID: 4000000b-f002-4007-b00a-c00000000001
                    - GroupID: 6000000b-f002-4007-b00a-c00000000002
                    - MainPhone: 'john.doe@example.com'
                      FirstName: 'John'
                      LastName: 'Doe'
                      Company: 'Example Company'
                      Custom1: 'Custom Value 1'
                      Custom2: 'Custom Value 2'
                      Custom3: 'Custom Value 3'
                      Custom4: 'Custom Value 4'
                  ContactID: 4000000b-f002-4007-b00a-c00000000001
                  GroupID: 6000000b-f002-4007-b00a-c00000000002
                  MessageID: 1234-5678
                  Reference: An appointment reminder
                  NotificationType: Webhook
                  WebhookCallbackURL: https://www.example.com/webhook
                  WebhookCallbackFormat: JSON
                  SendTime: 2025-08-01T09:00:00
                  Timezone: New Zealand
                  SubAccount: Business Unit One
                  Department: Team Alpha
                  MessageToAnswerPhones: 'Hello, sorry we missed you. This is a call from Department 01. Please contact us on 0800 123123.'
                  AnswerPhoneMode: NDAS
                  Keypads:
                    - Tone: 1
                      RouteNumber: +64800123123
                      Play: Connecting you now.
                    - Tone: 2
                      PlaySection: Main
                  KeypadOptionRequired: true
                  CallRouteMessageOnWrongKey: Sorry, you have pressed an invalid key. Please try again.	
                  CallRouteMessageToPeople: Connecting you now.	
                  CallRouteMessageToOperators: Incoming Text To Speech call.	
                  NumberOfOperators: 5
                  RetryAttempts: 1
                  RetryPeriod: 5
                  CallerID: +6495005000
                  Voice: Female1
                  Options: ''
                  
      # Send TTS responses
      responses:
        '200':
          $ref: '#/components/responses/200OK'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404RecordNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  /tts/{MessageID}:
    get:
      # Get TTS Status
      tags:
        - TTS
      summary: TTS Details
      description: |
        Poll for details of a sent TTS message.

        The primary object details the message as a whole, while the `Recipients` array contains details of each recipient.

        > [!TIP]
        > Timeout your polls after 6 hours with no result.

        > [!CAUTION]
        > Limit your polls to 1 per second to avoid rate limits.

        > [!note]
        > Consider the [Send Result Webhook](#tag/tts/webhook/POST/resultwebhook) for efficiency.
      operationId: client.messaging.tts.status
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        # - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/Accept'
      
      # Get TTS Status responses
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Message_Detail'
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    Recipients:
                      type: array
                      description: List of recipients for the message.
                      items:
                        allOf:
                          - type: object
                            properties:
                              Type:
                                type: string
                                description: The type of message this data relates to.
                                enum: [SMS, Email, Voice, Fax]
                                example: Voice
                              DestSeq:
                                $ref: '#/components/schemas/DestSeq'
                              Destination:
                                type: string
                                description: The destination address (e.g. phone number, email address).
                                example: '+6495006000'
                              ContactID:
                                $ref: '#/components/schemas/ContactID'
                              Status:
                                $ref: '#/components/schemas/MessageStatus'
                              Result:
                                type: string
                                description: The final delivery result. For a list of possible values, see [Voice](https://www.tnz.co.nz/help/voice-tts-delivery-result-codes) result codes.
                                examples: 
                                  - SentOK
                                  - Busy
                          - $ref: '#/components/schemas/Recipients_Detail'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '500':
          $ref: '#/components/responses/500ServerError'

### End 'TTS' Module ###

  '/tts/{MessageID}/reschedule':
    patch:
      tags:
        - TTS
      summary: Reschedule
      description: |
        This endpoint allows you to reschedule a previously delayed message to be sent at a new time.
      operationId: client.messaging.tts.reschedule
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                SendTime
              properties:
                SendTime:
                  $ref: '#/components/schemas/UpdateSendTime'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Reschedule]
                    example: Reschedule
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  '/tts/{MessageID}/abort':
    patch:
      tags:
        - TTS
      summary: Abort
      description: |
        This endpoint allows you to abort a previously delayed message.
      operationId: client.messaging.tts.abort
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Abort]
                    example: Abort
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  '/tts/{MessageID}/resubmit':
    patch:
      tags:
        - TTS
      summary: Resubmit
      description: |
        This endpoint allows you to retry sending a previously failed message.
      operationId: client.messaging.tts.resubmit
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                SendTime
              properties:
                SendTime:
                  $ref: '#/components/schemas/UpdateSendTime'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Resubmit]
                    example: Resubmit
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  '/tts/{MessageID}/pacing':
    patch:
      tags:
        - TTS
      summary: Number Of Operators
      description: |
        This endpoint allows you to adjust the `NumberOfOperators` configured for a pending message.
      operationId: client.messaging.tts.pacing
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                NumberOfOperators
              properties:
                NumberOfOperators:
                  $ref: '#/components/schemas/NumberOfOperators'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Pacing]
                    example: Pacing
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

### Start 'Voice' Module ###
#
  /voice:

    # Send Voice
    post:
      tags:
        - Voice
      summary: Send Voice
      description: |
        Send a Voice Call using Text-to-Speech to one or more recipients.

        The `MessageToPeople` parameter specifies the message to send. Alternatively, use `TemplateID` to send a pre-configured message template ([Find Your TemplateID](https://www.tnz.co.nz/help/how-to-find-your-templateid)).
        
        The `Destination` parameter contains the email address to receive your message. Alternatively, you may use the `Destinations` array for multiple contacts, or use Address Book `ContactID` or `GroupID` values.
      
      operationId: client.messaging.voice.sendmessage
      security:
        - bearerAuth: []
      # The Accept header is optional
      #parameters:
      #  - $ref: '#/components/parameters/Accept'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                MessageToPeople:
                  type: string
                  max-length: 5000
                  description: |
                    The audio data played if the call is answered by a human (WAV format, 16-bit, 8000hz).
                    
                    Download a sample WAV: [base64-encoded-file-data](https://www.tnz.co.nz/docs/RESTAPI/samples/3.00/base64-MessageToPeople.txt)
                    
                    Alternatively, specify a template using `TemplateID`.
                  example: '[Base64 encoded data]'
                TemplateID:
                  $ref: "#/components/schemas/TemplateID"
                Destination:
                  $ref: "#/components/schemas/Destination"
                ToNumber:
                  $ref: "#/components/schemas/ToNumber"
                Destinations:
                  $ref: "#/components/schemas/Destinations"
                ContactID:
                  $ref: "#/components/schemas/ContactID"
                GroupID:
                  $ref: "#/components/schemas/GroupID"
                MessageID:
                  $ref: "#/components/schemas/MessageID"
                Reference:
                  $ref: "#/components/schemas/Reference"
                NotificationType:
                  $ref: "#/components/schemas/NotificationType"
                WebhookCallbackURL:
                  $ref: "#/components/schemas/WebhookCallbackURL"
                WebhookCallbackFormat:
                  $ref: "#/components/schemas/WebhookCallbackFormat"
                ReportTo:
                  $ref: "#/components/schemas/ReportTo"
                SendTime:
                  $ref: "#/components/schemas/SendTime"
                Timezone:
                  $ref: "#/components/schemas/Timezone"
                SubAccount:
                  $ref: "#/components/schemas/SubAccount"
                Department:
                  $ref: "#/components/schemas/Department"
                MessageToAnswerPhones:
                  type: string
                  max-length: 10000
                  description: |
                    Enables Answering Machine/Voicemail detection. When an answering machine is detected, this message is played. The message should be in WAV format, 16-bit, 8000hz.
                  example: '[Base64 encoded data]'
                AnswerPhoneMode:
                  type: string
                  default: NDAS
                  description: Sets the action for when an Answering Machine is detected, such as playing a message or dropping the call ('NDAS','NDAF','DAS','DAF'). See [Answer Phone Detection for Voice](https://www.tnz.co.nz/help/answer-phone-detection-for-voice).
                  examples:
                    - NDAS
                    - DAS
                    - NDAF
                    - DAF
                Keypads:
                  type: array
                  description: Detect if the recipient presses a keypad option and perform an action.
                  items:
                    type: object
                    properties:
                      Tone:
                        type: integer
                        minimum: 0
                        maximum: 9
                        description: The keypad button.
                        example: 1
                      Play:
                        type: string
                        description: Message to play when the keypad button is pressed.
                        example: [Base64 encoded data]
                      RouteNumber:
                        type: string
                        format: phone
                        description: If specified, the call will be diverted to this number when the keypad button is pressed.
                        example: '6421000001'
                      PlaySection:
                        type: string
                        description: |
                          If specified, the call will jump to this section.
                          - Main = The main `MessageToPeople`.
                          - AnswerPhone = Simulates an Answering Machine pickup and plays `MessageToAnswerPhones`.
                          - WrongKey = Plays the `CallRouteMessageOnWrongKey` message.
                        examples: 
                          - Main
                          - AnswerPhone
                          - WrongKey
                KeypadOptionRequired:
                  type: boolean
                  default: false
                  description: |
                    When this setting is turned on, the call recipient must press a valid keypad button. If they don't, their call attempt gets logged as a Failure with the Result "No Valid Option Selected," and it will be automatically retried until Retry Attempts are exhausted. 
                    
                    Note: If Wrong Key is enabled, listeners can press any keypad button to mark a successful response.
                  examples: 
                    - false
                    - true
                CallRouteMessageOnWrongKey:
                  type: string
                  description: If Keypad buttons are specified, this option enables a Wrong Keypad message that is played if the callee presses an unregistered keypad button, or doesn't press a keypad button, eg "Sorry, you have pressed an invalid key. Please try again".
                  example: [Base64 encoded data]
                CallRouteMessageToPeople:
                  type: string
                  description: Audio data played when a keypad option is pressed (WAV format, 16-bit, 8000hz). E.g. "Connecting you now."
                  example: [Base64 encoded data]
                CallRouteMessageToOperators:
                  type: string
                  description: Audio data played to the call centre representative answering the connected call (WAV format, 16-bit, 8000hz). E.g. "Incoming Text To Speech call."
                  example: [Base64 encoded data]
                NumberOfOperators:
                  $ref: '#/components/schemas/NumberOfOperators'
                RetryAttempts:
                  type: integer
                  minimum: 0
                  maximum: 5
                  description: |
                    Number of times to retry if the call fails (for example, the recipients line is busy or unavailable). RetryAttempts=0 means the call will not be retried.
                    
                    If an Alt Phone is specified, the contact's Main Phone will be attempted until RetryAttempts is exhausted, then the Alt Phone will be tried. 
                  example: 1
                RetryPeriod:
                  type: integer
                  minimum: 0
                  maximum: 60
                  description: Minutes to wait between Retry Attempts.
                  example: 5
                CallerID:
                  type: string
                  format: phone
                  description: Sets the Caller ID used on the call (must be E.164 format and whitelisted under your account).
                  example: +6495005000
                Options:
                  type: string
                  description: Customisable field that allows advanced voice options including recording survey responses, recording phone numbers, playing IVR options, capturing DTMF tones for account numbers or credit card numbers, etc.
                 
            # Send Voice examples
            examples:
              'Send a simple Voice message':
                value:
                  MessageToPeople: '[Base64 encoded data]'
                  Destination: '021-000001'
              'Send to an Address Book Contact':
                value:
                  MessageToPeople: '[Base64 encoded data]'
                  ContactID: 6000000b-f002-4007-b00a-c00000000001
              'Send to an Address Book Group':
                value:
                  MessageToPeople: '[Base64 encoded data]'
                  GroupID: 4000000b-f002-4007-b00a-c00000000002
              'Send a Template to Two Contacts':
                value:
                  TemplateID: 123e4567-e89b-12d3-a456-426614174000
                  Destination: '021-000001'
                  ContactID: 6000000b-f002-4007-b00a-c00000000001
              'Display all parameters':
                value:
                  MessageToPeople: '[Base64 encoded data]'
                  TemplateID: 123e4567-e89b-12d3-a456-426614174000
                  Destination: 'john.doe@example.com'
                  Destinations:
                    - ContactID: 4000000b-f002-4007-b00a-c00000000001
                    - GroupID: 6000000b-f002-4007-b00a-c00000000002
                    - MainPhone: 'john.doe@example.com'
                      FirstName: 'John'
                      LastName: 'Doe'
                      Company: 'Example Company'
                      Custom1: 'Custom Value 1'
                      Custom2: 'Custom Value 2'
                      Custom3: 'Custom Value 3'
                      Custom4: 'Custom Value 4'
                  ContactID: 4000000b-f002-4007-b00a-c00000000001
                  GroupID: 6000000b-f002-4007-b00a-c00000000002
                  MessageID: 1234-5678
                  Reference: An appointment reminder
                  NotificationType: Webhook
                  WebhookCallbackURL: https://www.example.com/webhook
                  WebhookCallbackFormat: JSON
                  SendTime: 2025-08-01T09:00:00
                  Timezone: New Zealand
                  SubAccount: Business Unit One
                  Department: Team Alpha
                  MessageToAnswerPhones: '[Base64 encoded data]'
                  AnswerPhoneMode: NDAS
                  Keypads:
                    - Tone: 1
                      RouteNumber: +64800123123
                      Play: Connecting you now.
                    - Tone: 2
                      PlaySection: Main
                  KeypadOptionRequired: true
                  CallRouteMessageOnWrongKey: [Base64 encoded data]
                  CallRouteMessageToPeople: [Base64 encoded data]
                  CallRouteMessageToOperators: [Base64 encoded data]
                  NumberOfOperators: 5
                  RetryAttempts: 1
                  RetryPeriod: 5
                  CallerID: +6495005000
                  Options: ''
                  
      # Send Voice responses
      responses:
        '200':
          $ref: '#/components/responses/200OK'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404RecordNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  /voice/{MessageID}:
    get:
      # Get Voice Status
      tags:
        - Voice
      summary: Voice Details
      description: |
        Poll for details of a sent Voice message.

        The primary object details the message as a whole, while the `Recipients` array contains details of each recipient.

        > [!TIP]
        > Timeout your polls after 6 hours with no result.

        > [!CAUTION]
        > Limit your polls to 1 per second to avoid rate limits.

        > [!note]
        > Consider the [Send Result Webhook](#tag/voice/webhook/POST/resultwebhook) for efficiency.
      operationId: client.messaging.voice.status
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        # - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/Accept'
      
      # Get Voice Status responses
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Message_Detail'
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    Recipients:
                      type: array
                      description: List of recipients for the message.
                      items:
                        allOf:
                          - type: object
                            properties:
                              Type:
                                type: string
                                description: The type of message this data relates to.
                                enum: [SMS, Email, Voice, Fax]
                                example: Voice
                              DestSeq:
                                $ref: '#/components/schemas/DestSeq'
                              Destination:
                                type: string
                                description: The destination address (e.g. phone number, email address).
                                example: '+6495006000'
                              ContactID:
                                $ref: '#/components/schemas/ContactID'
                              Status:
                                $ref: '#/components/schemas/MessageStatus'
                              Result:
                                type: string
                                description: The final delivery result. For a list of possible values, see [Voice](https://www.tnz.co.nz/help/voice-tts-delivery-result-codes) result codes.
                                examples: 
                                  - SentOK
                                  - Busy
                          - $ref: '#/components/schemas/Recipients_Detail'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '500':
          $ref: '#/components/responses/500ServerError'

### End 'Voice' Module ###

  '/voice/{MessageID}/reschedule':
    patch:
      tags:
        - Voice
      summary: Reschedule
      description: |
        This endpoint allows you to reschedule a previously delayed message to be sent at a new time.
      operationId: client.messaging.voice.reschedule
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                SendTime
              properties:
                SendTime:
                  $ref: '#/components/schemas/UpdateSendTime'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Reschedule]
                    example: Reschedule
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  '/voice/{MessageID}/abort':
    patch:
      tags:
        - Voice
      summary: Abort
      description: |
        This endpoint allows you to abort a previously delayed message.
      operationId: client.messaging.voice.abort
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Abort]
                    example: Abort
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  '/voice/{MessageID}/resubmit':
    patch:
      tags:
        - Voice
      summary: Resubmit
      description: |
        This endpoint allows you to retry sending a previously failed message.
      operationId: client.messaging.voice.resubmit
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                SendTime
              properties:
                SendTime:
                  $ref: '#/components/schemas/UpdateSendTime'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
                    $ref: '#/components/schemas/JobStatus'
                  Action:
                    type: string
                    description: The action this API call has performed.
                    enum: [Resubmit]
                    example: Resubmit
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404IDNotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/500ServerError'

  '/voice/{MessageID}/pacing':
    patch:
      tags:
        - Voice
      summary: Number Of Operators
      description: |
        This endpoint allows you to adjust the `NumberOfOperators` configured for a pending message.
      operationId: client.messaging.voice.pacing
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MessageID'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                NumberOfOperators
              properties:
                NumberOfOperators:
                  $ref: '#/components/schemas/NumberOfOperators'
      responses:
        '200':
          description: OK [message found]
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionResult:
                    $ref: '#/components/schemas/QueryResult'
                  MessageID:
                    $ref: '#/components/schemas/MessageID'
                  JobNum:
                    $ref: '#/components/schemas/JobNumber'
                  Status:
[...]
